/.phpunit.cache
/node_modules
/public/albums
/public/uploads
/public/uploads_old
/public/front-assets/css_old
/public/front-assets/images
/public/front-assets/images_old
/public/assets/images
/public/assets/plugins
/storage/*.key
/storage/pail
/vendor
/backup/*
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
.zip
/zip
/storage/framework/views/*
